<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainCss/Main.css">
    <title>Nova Notícia</title>
</head>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <!-- Formulário para adicionar pesquisa -->
        <form action="/pesquisas/salvar" method="POST" enctype="multipart/form-data">
            <div>
                <label for="imagemPesquisa">Imagem:</label>
                <input type="file" id="imagemPesquisa" name="imagemPesquisa" accept="image/*">
            </div>
            <div>
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo">
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao"></textarea>
            </div>
            <button type="submit">Salvar</button>
        </form>
    
        <!-- Lista de pesquisas -->
        <div class="items-list">
            <% pesquisas.forEach(pesquisa => { %>
                <div class="item">
                    <img src="/uploads/<%= pesquisa.imagem %>" alt="Imagem de Pesquisa">
                    <h3><%= pesquisa.titulo %></h3>
                    <p><%= pesquisa.descricao %></p>
                    <form action="/pesquisas/deletar" method="POST">
                        <input type="hidden" name="id" value="<%= pesquisa.id %>">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
    
        <div class="space_head">
            
        </div>



    
    
</body>
</html>
